<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.util">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >
        <activity android:name=".permission.PermissionActivity"/>
    </application>

</manifest>
