<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.util">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.util.permission.PermissionActivity">
            <intent-filter>
                <action android:name="com.util.permission.PermissionActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.util.sdk.DetailActivity">

        </activity>
        <activity android:name="com.zxing.activity.CaptureActivity"/>
    </application>

</manifest>
