<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.smart.androidutils">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ios"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashCompatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainCompatActivity">
        </activity>
        <activity android:name=".activity.sharepreference.SPCompatActivity">
        </activity>
        <activity android:name=".activity.spider.view.SpiderCompatActivity">
        </activity>
        <activity android:name=".activity.classactivity.ClassActivity">
        </activity>
        <activity android:name=".activity.reflect.ReflectActivity">
        </activity>
        <activity android:name=".activity.file.FileCompatActivity"/>
        <activity android:name=".BaseCompatActivity"/>
        <activity android:name=".activity.device.DeviceActivity">
        </activity>
        <activity android:name=".activity.ad.NoAdCompatActivity">
        </activity>
        <activity android:name=".activity.app.AppInfoCompatActivity">
        </activity>
        <activity android:name=".activity.canvas.CanvasCompatActivity">
        </activity>
        <activity android:name=".activity.widget.WidgetCompatActivity">
        </activity>
        <activity android:name=".activity.widget.MoreTextCompatActivity"/>
        <activity android:name=".activity.screen.ScreenActivity">
        </activity>
    </application>

</manifest>
